{"filter":false,"title":".env.example","tooltip":"/mynews/.env.example","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":664.5,"scrollleft":0,"selection":{"start":{"row":14,"column":0},"end":{"row":14,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":32,"state":"start","mode":"ace/mode/text"}},"timestamp":1603983318364,"hash":"046314a1851b00185e1f70b21a31819acc0e413a"}